@charset "ISO-8859-1";

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.dashboard-title {
  /* background-color: rgb(206, 99, 99); */
  text-align: center;
  padding: 20px 10px;
  margin: 0;
  border-bottom: 3px solid black;
  color: rgb(101, 111, 243);
}

.dashboard-wrapper {
  /* background-color: pink; */
  display: flex;
  flex-wrap: wrap;
}

.dashboard__actions {
  /* background-color: aquamarine; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  border-bottom: 1px solid black;
  padding: 20px 10px;
}

.dashboard__body {
  /* background-color: rgb(228, 226, 226); */
  width: 100vw;
  padding: 20px 10px;
}

.dashboard__actions .action {
  /* background-color: yellow; */
  border-radius: 15px;
  border: 2px solid lightblue;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 20px;
  text-wrap: nowrap;
}

.dashboard__actions .action:hover {
  background-color: lightblue;
  transition: background-color 300ms;
}

.table-wrapper {
  /* background-color: rgb(253, 243, 231); */
}

.table-wrapper th,
.table-wrapper td {
  min-width: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .dashboard-wrapper {
    min-height: calc(100vh - 90.1px);
  }

  .dashboard__actions {
    --large-screen-width: 15vw;
    width: var(--large-screen-width);
    padding: 50px 10px;
    border-bottom: 0;
    border-right: 1px solid black;
  }

  .dashboard__body {
    flex: 1;
  }
}
