@charset "ISO-8859-1";

.package-wrapper {
  /* background-color: rgb(255, 211, 161); */
  padding: 40px 25px;
  min-height: 100vh;
}

.package__container {
  /* background-color: lightgreen; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.package {
  width: 100%;
  /* background-color: rgb(85, 119, 229); */
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 15px;
  /* height: 200px; */
}

.package__title {
  background-color: #d8d8d4;
  padding: 25px 0;
  text-align: center;
  border-bottom: 1px solid grey;
}

.package ul {
  min-height: 180px;
}

.btn-activate,
.btn-container,
.btn-group {
  margin: 0 30px;
  width: calc(100% - 60px);
}

label.btn span {
  display: block;
}

label.btn .price {
  font-weight: 600;
  font-size: 1.2rem;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.btn-container button {
  width: calc((100% - 20px) / 2);
}

.btn-activate,
.btn-container {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .package-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .package__container {
    width: 85vw;
    margin: auto;
  }

  .package {
    width: calc((100% - 20px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .package__container {
    width: 80vw;
    margin: auto;
    column-gap: 40px;
    row-gap: 30px;
  }

  .package {
    width: calc((100% - 80px) / 3);
  }
}

.hide {
  display: none;
}

/* ----------- */

.alert-box-wrapper {
  z-index: 999;
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  width: calc(100vw - 50px);
}

@media screen and (min-width: 768px) {
  .alert-box-wrapper {
    width: 410px;
  }
}

@media screen and (min-width: 1200px) {
  .alert-box-wrapper {
    right: 30px;
    width: 500px;
  }
}