<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <display-name>oop-epay-crud</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <display-name>PackageServlet</display-name>
        <servlet-name>PackageServlet</servlet-name>
        <servlet-class>com.epay.controller.PackageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PackageServlet</servlet-name>
        <url-pattern>/packages</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.epay.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/submit-payment</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>com.epay.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Transaction</servlet-name>
        <servlet-class>com.epay.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Transaction</servlet-name>
        <url-pattern>/admin/transactions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActivatedPackages</servlet-name>
        <servlet-class>com.epay.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivatedPackages</servlet-name>
        <url-pattern>/admin/activated-packages</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Upgrade</servlet-name>
        <servlet-class>com.epay.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upgrade</servlet-name>
        <url-pattern>/admin/request/upgrade-requests</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Deactivate</servlet-name>
        <servlet-class>com.epay.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Deactivate</servlet-name>
        <url-pattern>/admin/request/deactivation-requests</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentPage</servlet-name>
        <jsp-file>/pages/payment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentPage</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    

    <!-- <servlet>
        <servlet-name>TransactionPage</servlet-name>
        <jsp-file>/pages/admin/transactions.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionPage</servlet-name>
        <url-pattern>/admin/transactions</url-pattern>
    </servlet-mapping> -->

</web-app>