<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <display-name>oop-epay-crud</display-name>

    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.epay.controller.RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <display-name>PackageServlet</display-name>
        <servlet-name>PackageServlet</servlet-name>
        <servlet-class>com.epay.controller.PackageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PackageServlet</servlet-name>
        <url-pattern>/packages</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.epay.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/submit-payment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>com.epay.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateRequest</servlet-name>
        <servlet-class>com.epay.controller.UserRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateRequest</servlet-name>
        <url-pattern>/upgrade-package</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteRequest</servlet-name>
        <servlet-class>com.epay.controller.UserRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRequest</servlet-name>
        <url-pattern>/deactivate-package</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Transaction</servlet-name>
        <servlet-class>com.epay.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Transaction</servlet-name>
        <url-pattern>/admin/transactions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActivatedPackages</servlet-name>
        <servlet-class>com.epay.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivatedPackages</servlet-name>
        <url-pattern>/admin/activated-packages</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Upgrade</servlet-name>
        <servlet-class>com.epay.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upgrade</servlet-name>
        <url-pattern>/admin/request/upgrade-requests</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Deactivate</servlet-name>
        <servlet-class>com.epay.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Deactivate</servlet-name>
        <url-pattern>/admin/request/deactivation-requests</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeactivateById</servlet-name>
        <servlet-class>com.epay.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeactivateById</servlet-name>
        <url-pattern>/admin/request/deactivate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpgradeById</servlet-name>
        <servlet-class>com.epay.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpgradeById</servlet-name>
        <url-pattern>/admin/request/upgrade</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminValidate</servlet-name>
        <servlet-class>com.epay.controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminValidate</servlet-name>
        <url-pattern>/admin/admin-validate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentPage</servlet-name>
        <jsp-file>/pages/payment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentPage</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminLoginPage</servlet-name>
        <jsp-file>/pages/admin/admin-login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginPage</servlet-name>
        <url-pattern>/admin/admin-login</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/pages/error-page.jsp</location>
    </error-page>
</web-app>